@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
    font-family: 'Lobster', cursive;
    background-color:#a66e9d;
    color: #f6f6f6, #caa6a7, #72a0c6, #a66e9d,
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    background-color: lightpink
}