@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
    font-family: 'Lobster', cursive;
    background-color:#a66e9d;
    color: #f6f6f6, #caa6a7, #72a0c6, #a66e9d,
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    background-color: lightpink
}
a:link {
    color: white;
  }
  
  a:visited {
    color: #5b417b;
  }
  
  a:hover {
    color: #FF00FF;
  }
  
  a:active {
    color: white;
  }
  input[type=submit]{
    background-color:hotpink;
    padding: 8px;
    border-radius: 50%;
  }
  input[type=sumbit]:active {

    background-color: hotpink;
  }
  input[type=text]{
    background-color:pink;
  }

  .biggertext{
    font-size: 160%;
  }
  .imageright{
    float:right;
  }
  .imageleft{
    float:left;
  }
  .mediumtext{
    font-size:130%;
  }

  @media only screen and (max-width: 600px) {
    iframe{
      height:50px
    }
  }